body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 60, 60, 0.678); /*#f9e3e3*/
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #ffffff;
}

.header {
    font-size: 20px;
    color: #ffffff;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
